<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen & Contrôle - Cours</title>
    <link rel="stylesheet" href="cours.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="Logo" id="img-logo">
        </div>
        <div class="user">
            <div class="notification">
                <a href="#" class="fa-solid fa-bell" id="notifictaion"></a>
            </div>
            <div class="img-person">
                <img src="../img/ph-scoliare/me.jpg" alt="User Image">
            </div>
            <div class="deconnexion">
                <a href="#">Deconnexion</a>
            </div>
        </div>
    </header>
    <div class="home-content">
        <nav id="navbar">
            <div class="nav-items">
                <a href="../template_stagaire//home.php">
                    <img src="../img/icons-nav/home.png" alt="">
                    <span>Home</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/notes.png" alt="">
                    <span>Notes</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/contact.png" alt="">
                    <span>Reclamation</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/LEPRO.png" alt="">
                    <span>License Professionnelle</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/home.png" alt="">
                    <span>.....</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/Activites.png" alt="">
                    <span>Activités</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/verifier.png" alt="">
                    <span>Verification des donnes</span>
                </a>
            </div>
            
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/C-administrateur.png" alt="">
                    <span>Contacter l'administration</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="https://www.ofppt.ma/">
                    <img src="../img/icons-nav/aide.png" alt="">
                    <span>Aide</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/contact.png" alt="">
                    <span>Contact</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/user.png" alt="">
                    <span>Profile</span>
                </a>
            </div>
        </nav>

        <div class="content-page">
            <div class="msg">
                <p>Bienvenue sur votre compte privé</p>
            </div>
            
       
    <div class="container-cours">
        <div class="year">
            <h1>1er Année</h1>
            <div class="course-list">
                <div class="course-item"><a href="">M101 Se Situer Au Regard Du Métier Et De La Démarche De Formation</a></div>
                <div class="course-item"><a href="">EGTS101 Arabe</a></div>
                <div class="course-item"><a href="">M102 Les Bases De L'algorithmique</a></div>
                <div class="course-item"><a href="">EGTS102 Français</a></div>
                <div class="course-item"><a href="">M103 Programmer En Orienté Objet</a></div>
                <div class="course-item"><a href="">EGTS103 Anglais Technique</a></div>
                <div class="course-item"><a href="">M104 Développer Des Sites Web Statiques</a></div>
                <div class="course-item"><a href="">EGTS104 Culture Entrepreneuriale-Partie 1</a></div>
                <div class="course-item"><a href="">M101 Programmer En JavaScript</a></div>
                <div class="course-item"><a href="">EGT105 Compétences Comportementales Et Sociales</a></div>
                <div class="course-item"><a href="">M105 Manipuler Des Bases De Données</a></div>
                <div class="course-item"><a href="">EGTS108 Entrepreneuriat-PIE 1</a></div>
                <div class="course-item"><a href="">M106 Développer Des Sites Web Dynamiques</a></div>
                <div class="course-item"><a href="">EGTSA106 Culture Et Techniques Avancées Du Numérique</a></div>
                <div class="course-item"><a href="">M107 La Sécurité Des Systèmes D'information</a></div>
            </div>
        </div>
        <div class="year">
            <h1>2er Année</h1>
            <div class="option"><a href="">Développement Digital option Applications Mobile</a></div>
            <div class="option"><a href="">Développement Digital option Web Full Stack</a></div>
        </div>
    </div>
</body>
</html>
