<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation</title>
    <link rel="stylesheet" href="orientation.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="Logo" id="img-logo">
        </div>
        <div class="user">
            <div class="notification">
                <a href="#" class="fa-solid fa-bell" id="notifictaion"></a>
            </div>
            <div class="img-person">
                <img src="../img/ph-scoliare/me.jpg" alt="User Image">
            </div>
            <div class="deconnexion">
                <a href="#">Deconnexion</a>
            </div>
        </div>
    </header>
    <div class="home-content" id="homecontact">

        <nav id="navbar" >
            <div class="nav-items">
                <a href="../template_stagaire/home.php">
                    <img src="../img/icons-nav/home.png" alt="">
                    <span id="main-meun">Home</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="../template_stagaire/notes.html">
                    <img src="../img/icons-nav/notes.png" alt="">
                    <span id="main-meun">Notes</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="../template/reclamation.html">
                    <img src="../img/icons-nav/contact.png" alt="">
                    <span id="main-meun">Reclamation</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="../template/licencepro.html">
                    <img src="../img/icons-nav/LEPRO.png" alt="">
                    <span id="main-meun">License Professionnelle</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="../template/orientation.html">
                    <img src="../img/icons-nav/orientation.png" alt="">
                    <span id="main-meun">Orientation</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/Activites.png" alt="">
                    <span id="main-meun">Activités</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/verifier.png" alt="">
                    <span id="main-meun">Verification des donnes</span>
                </a>
            </div>
            
            <div class="nav-items">
                <a href="?">
                    <img src="../img/icons-nav/C-administrateur.png" alt="">
                    <span id="main-meun">Contacter l'administration</span>
                </a>
            </div>
            <div class="nav-items">
                <a href="https://www.ofppt.ma/">
                    <img src="../img/icons-nav/aide.png" alt="">
                    <span id="main-meun">Aide</span>
                </a>
            </div>
            <div class="nav-items" >
                <main id="contact">
                    <img src="../img/icons-nav/contact.png" alt="">
                    <span id="main-meun">Contact</span>
               </main>
            </div>
            <div class="nav-items">
                <a href="../profile/profile.html">
                    <img src="../img/icons-nav/user.png" alt="">
                    <span id="main-meun">Profile</span>
                </a>
            </div>
        </nav>

    <div class="content-page" id="content-page">
            <div class="msg">
                <p>Bienvenue sur votre compte privé</p>
            </div>
        <div class="container">
            <div class="header-button">
                <button class="header-btn"><a href="or2.html">Mes objectifs professionnels</a></button>
                <button class="header-btn"><a href="orientation.html">Mes choix scolaires et professionnels</a></button>
            </div>
            <div class="section">
                <h2><span class="icon">👤</span> Informations stagaire</h2>
                <form>
                    <div class="form-group">
                        <label>Nom en arabe :</label>
                        <input type="text" value="لحيان" />
                        <label>Prénom en arabe :</label>
                        <input type="text" value="اسامة" />
                    </div>
                    <div class="form-group">
                        <label>Prénom en français :</label>
                        <input type="text" value="OUSSAMA" />
                        <label>Nom en français :</label>
                        <input type="text" value="LAHYANE" />
                    </div>
                    <div class="form-group">
                        <label>Date de naissance :</label>
                        <input type="date" value="2003-09-03" />
                        <label>Niveau :</label>
                        <input type="text" value="1ere Annee developpement digitale" />
                    </div>
                    <div class="form-group">
                        <label>Classe :</label>
                        <input type="text" value="dev102" />
                    </div>
                </form>
            </div>
            <div class="section">
                <h2><span class="icon">📋</span> Les choix</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Ordre</th>
                                <th>Niveau</th>
                                <th>Etablissement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" class="note">(la sélection a été faite en fonction de l'ordre de l'institution de formation la plus appropriée selon les conditions)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form>
                    <div class="form-group">
                        <label>Deuxième langue :</label>
                        <input type="text" value="LANGUE ANGLAISE" />
                    </div>
                    <div class="form-group">
                        <label>Mes motivations pour ces choix :</label>
                        <textarea></textarea>
                
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
