* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #170b71;
    border-bottom: 1px solid #ddd;
    height: 75px;
    color: white;
    
}

header .logo img {
    height: 70px;
    width: 125px; 
   
}

header .user {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container {
    height: 100vh;
    width: 100%;
}
.notification {
    display: flex;
    align-items: center;
}

.notification a {
    font-size: 32px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.img-person {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.img-person img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.782);
    border-radius: 50%;
}

.deconnexion a {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.deconnexion a:hover {
    background-color: darkred;
}

.home-content {
    width: 100%;
    height: 90%;
    display: flex;
}


.home-content nav {
    background-color: rgba(0, 23, 128, 0.938);
    width: 60px;
    height: 98%;
    margin-top: 5px;
    transition: width 0.5s;
    overflow: hidden;
    position: relative;
}

.home-content nav:hover,
.home-content nav.active {
    width: 280px;
    z-index: 1200;
}

.nav-items {
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.nav-items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-items a img {
    height: 40px;
    cursor: pointer;
    width: 40px;
}
.nav-items main {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    cursor: pointer;
   
}

.nav-items main img {
    height: 40px;
    width: 40px;
}

.nav-items main span {
    margin-left: 10px;
    font-weight: bold;
    
    
}

.nav-items a span {
    margin-left: 10px;
    font-weight: bold;
    
}


.content-page {
    width: 100%;
    margin-top: 20px;
}

.content-page .msg {
    width: 90%;
    height: 20px;
    margin: auto;
    background-color: #DBD495;
    
}

.content-page .msg p {
    font: 15px;
    text-align: center;
}


.header {
    color: rgb(0, 0, 0);
    padding: 15px ;
    display: flex;
    width: 90%;
    align-items: center;
    margin:10px auto ;
}
 /* Card styles */
 .content {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 90%;
}

.content h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #000000;
    padding: 15px;
    border-radius: 10px 10px  0 0;
    background-color: rgba(128, 128, 128, 0.379);
}

/* Filters styles */
.filters {
    display: flex;
    justify-content: space-between;
    width: 60%;
    
}


.filters label {
    font-size: 14px;
    color: #333;
    margin-right: 5px;
}

.filters select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
}
.information{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin: auto;
    
}
.info{
   
    padding: 5px;
}
.btn-control{
    border-bottom: 1px solid #004d99;
}
.btn-moyenne:hover {
    background-color: #003366;
}.btn-controle:hover {
    background-color: #003366;
}
.btn-control button{
    padding: 10px;
    background-color:#004d99;
    color: white;
    border: none;
    cursor: pointer;
}
/* Table styles */
.table-container {
    margin:auto;
    display: none; /* Initially hidden */
    width: 95%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
   
}

table thead {
    background-color: #004d99;
    color: white;
}

table th, table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    font-size: 14px;
}

table tbody tr:nth-child(even) {
    background-color: #f7f8fa;
}

.btn {
    padding: 10px 20px;
    background-color: #004d99;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    
}

.btn:hover {
    background-color: #003366;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}