
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #170b71;
    border-bottom: 1px solid #ddd;
    height: 50px;
    color: white;
}

.logo {
    height: 70px;
    width: 125px;  
}

.header-admin{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.header-admin p select{
    background-color: rgb(33, 81, 30);
    padding:5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(190, 190, 190) ;
    color: white;
}
.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#nav-systeme{
    z-index: 100;
    display: none;
    position: absolute;
    top: 75px;
    right: 1px;
    height: 255px;
    width: 190px;
    background-color: rgb(241, 239, 239);
    box-shadow:  0 0 1px 1px rgb(255, 255, 255);
}

#nav-systeme a i{
    padding-right: 10px;
}
#nav-systeme a {
    padding:10px 10px;
    text-decoration: none;
   
   
}
#nav-systeme p a{
    font-size: 13px;
    color: black;
    border-bottom: 1px solid rgba(186, 185, 185, 0.612);
}


.deconexion{
    background-color: rgba(255, 0, 0, 0.854);
    padding: 7px;
    margin: 2px;  
}
.deconexion a{
    color: white;
    text-decoration: none;
     margin-left: 10px;

}
aside nav ul li a {
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.386);
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.content{
    display: flex;
}


.img-admin{
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
}
.img-admin img{
    height: 80px;
    width: 80px;
    border-radius:50% ;
    margin: auto;
}

.img-admin p{
    width: 200px;
    text-align: center;   
}

aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #170b71;
    padding: 10px 20px;
    border-right: 1px solid #ddd;
}
aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.386);
    cursor: pointer;
    color: white;
}


aside .profile  {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

 
/* Form Container */
.form-container {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(244, 240, 240, 0.1);
    width: 90%;
    
    
}

/* Heading */
.form-container h1 {
    font-size: 24px;
    color: #f7f7f7;
    background-color: #051957c3;
    border-radius: 10px 10px 0 0;
    padding: 10px;

}

.form-container form{
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 10px rgba(140, 138, 138, 0.1);
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 25px;
   
    
}


/* Label Styling */
.form-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 10px;
}

/* Input and Textarea Styling */
input{
    width: 70%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin: auto;
}

select{
    width: 73%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin: auto;
}

input:focus {
    border-color: #051957c3;
    outline: none;
}

/* Submit Button */
.submit-btn {
    width: 73%;
    padding: 12px;
    background-color: #051957c3;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
 
}

.submit-btn:hover {
    background-color: #051957c3;
}

/* Placeholder Styling */
input::placeholder {
    color: #aaa;
}
